.page-styling {
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 15px;
    padding: 4em;
}
 
#button-styling {
    border-radius: 40%;
    padding: 10%;
    cursor: pointer;
}